
# Ignore all VisualStudio output
# https://stackoverflow.com/a/35175552/25961
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
*/**/obj/x86
*/**/obj/x64
*/**/bin/x86
*/**/bin/x64
*/**/obj
*/**/.vs
*/**/*.v12.suo
*.pdf
*/**/packages

bin/Debug
bin/Release
obj/Debug
obj/Release
obj/x86
obj/x64


backup*.zip
*.VC.db
/ACS/TAS/Properties/AssemblyInfo.cs
/pushsymbols_TAS.cmd
*.zip
/ACS/TAS/bin/TAS_Leif_9.3.120.3_pdb
*.sqlite
/.vs/slnx.sqlite-journal
/.vs
*.patch
/ACS/TAS/TAS_B146.sln
*/packages/*
/Use_*.reg
*/**/*.coverage
*/**/UpgradeLog.htm
~*.*
net20
NUnit.3.4.1
/NuGetPackages
/ACS/TAS/TestTools/ReadLogMonitorState/bin/ReadLogMonitorState
/ACS/TAS/bin
/ACS/TestTools/MediaServerTest/bin
/ACS/TAS/TAS.csproj.user
*.user
/MediaServerTest
/packages
/bin
/ACS/ACSConfig/bin
*.bak

# Generated directories:
.nyc_output/
coverage/
dist/
node_modules/

# Project files:
*.sublime-*
/.vs
*.jpg
