
# Ignore all VisualStudio output
# https://stackoverflow.com/a/35175552/25961
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
*/**/obj/x86
*/**/obj/x64
*/**/bin/x86
*/**/bin/x64
*/**/obj
*/**/.vs
*/**/*.v12.suo
*.pdf
*/**/packages

bin/Debug
bin/Release
obj/Debug
obj/Release
obj/x86
obj/x64


backup*.zip
*.VC.db
*.zip
*.sqlite
/.vs/slnx.sqlite-journal
/.vs
*.patch
*/packages/*
*/**/*.coverage
*/**/UpgradeLog.htm
~*.*
net20
NUnit.*
/NuGetPackages
*.user
/packages
/bin
*.bak

# Generated directories:
.nyc_output/
coverage/
dist/
node_modules/

# Project files:
*.sublime-*
/.vs
*.jpg
/bin
